{% extends 'base/base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Cantidad de productos</td>
                <td>Valor</td>
                <td>Descripcion</td>
                <td>Acciones</td>
                <td>
            </tr>
        </thead>
        <tbody>
            {%if object_list%}
            {%for Productos in object_list %}
            <tr>
                <td>{{ Productos.Cantidad_Productos }}</td>
                <td>{{ Productos.Valor }}</td>
                <td>{{ Productos.Descripcion }}</td>
                <td>{{ Productos.Acciones }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'Productos_editar' Productos.Cantidad_Productos %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'Productos_eliminar' Productos.Cantidad_Productos %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay  registro de Productos</h1>
            {% endif %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primero </a>
                <a href="?page={{ page_obj.previous_page_number}}">Previo</a>
                {% endif %}
                <span class="current">
                    Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}.
                </span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages}}">Ultimo &raquo; </a>
            {% endif %}
        </span>
{% endblock %}
