* {
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.F {
    background-color: #a67b40;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
    width: 30rem;
    border-radius: 4px;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.email {
    width: 85%;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.access button {
    width: 25.5rem;
    height: 3rem;
    color: white;
    background-color: #53320e;
    border: none;
    transition: background-color 0.3s;
    border-radius: 10px;
    /* Agrega una transición suave */
}

.access button:hover {
    background-color: #c9a26e !important;
    /* Cambia el color en hover */
}

.x {
    text-align: center;
    color: white;
}

.z {
    text-align: center;
    color: orange;
}

.register {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Opcional: ajusta este valor para cambiar el espaciado vertical */
}